:root {
  --global-font-size: 16px;
  --global-line-height: 1.5em;
  --font-color: #efefee;
  --background-color: #000000;
  --tertiary-color: #1BE0A5;
  --code-bg-color: #282b2e;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

img, iframe {
  width: auto;
  max-width: 100%;
}

pre {
  padding: 0;
}

code {
  color: var(--tertiary-color);
}

blockquote {
  padding: 0 var(--global-line-height);
  color: var(--secondary-color);
}

blockquote::after {
  color: var(--tertiary-color);
}

blockquote p {
  margin: 0;
}

.postTitle span {
  color: var(--background-color);
  background-color: var(--font-color);
}

p {
  font-weight: lighter;
}

a {
  background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
  background-size: 210% 100%;
  background-color: transparent;
  transition:  background-position 0.2s ease;
}

a:hover {
  color: var(--background-color);
  background-position: left;
  background-color: transparent;
  transition:  background-position 0.2s ease;
}
